/* style the contact form */
.form-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 90%;
    margin-top: 1%;
    margin-left: 2%;
  }
  
  .form-wrapper label {
    display: block;
    margin-top: 10px;
    color: white;
  }
  
  .form-wrapper input[type="text"],
  .form-wrapper input[type="email"],
  .form-wrapper textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form-wrapper input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
  
  .form-wrapper input[type="submit"]:hover {
    background-color: #ddd;
    color: black;
  }
  